[Unit]
Description=Auto connect Bluetooth Speaker
After=bluetooth.service
Wants=bluetooth.service

[Service]
Type=oneshot
User=mrbueno
Group=mrbueno
WorkingDirectory=/home/mrbueno/MFRC522-python
ExecStart=/home/mrbueno/MFRC522-python/connect_bt.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

