[Unit]
Description=Auto connect Bluetooth Speaker
After=bluetooth.service

[Service]
Type=oneshot
ExecStart=%h/MFRC522-python/connect_bt.sh
RemainAfterExit=true

[Install]
WantedBy=default.target

