[Unit]
Description=Sonico RFID + MP3 (User Service)
After=pipewire.service bt_speaker.service
Wants=pipewire.service bt_speaker.service

[Service]
Type=simple
WorkingDirectory=/home/mrbueno/MFRC522-python
ExecStart=/home/mrbueno/MFRC522-python/.venv/bin/python sonico.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
Environment=PIPEWIRE_LATENCY=0

[Install]
WantedBy=default.target
